body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #FBEAE6;
}

/*шапка cv*/

.logo {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 100px;
    font-variant: small-caps;
    text-align: left;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 5px 55px;
}

/*плашка с контактами*/

ul.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-variant: normal;
    list-style-type: none;
    padding: 5px;
    border-style: hidden;
    background-color: #CBCACA;
    color:#FFFFFF;
    position: relative;

}

li.contact {
    margin-left: 100px;
}

